.blocks {
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 20px;
}

.block {

}

.content {
    margin: 10px 0;
}

.files {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.button {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.keys {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.find {
    width: 100%;
    margin-bottom: 10px;
}

.find input {
    width: 100%;
}