.items {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    column-gap: 20px;
    align-items: center;
}

.deleteButton {
    background-color: transparent;
}

.deleteButton img {
    width: 17px;
}

.modal {
    width: 700px;
}